# Delo s podatkovnimi bazami in SQL

Viri:
- [Object Relational Tutorial](https://docs.sqlalchemy.org/en/13/orm/tutorial.html)
- [SQLite Tutorial](https://www.sqlitetutorial.net/)
- [SQLite Python](https://www.sqlitetutorial.net/sqlite-python/)
- [SQLite - Commands](https://www.tutorialspoint.com/sqlite/sqlite_commands.htm)
- [Command Line Shell For SQLite](https://sqlite.org/cli.html)
- [sqlite3 — DB-API 2.0 interface for SQLite databases](https://docs.python.org/3.7/library/sqlite3.html)
-[SQLAlchemy — Python Tutorial](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)
- [Fastest Way to Load Data Into PostgreSQL Using Python](https://hakibenita.com/fast-load-data-python-postgresql)
- [A step-by-step SQLAlchemy tutorial](http://www.rmunn.com/sqlalchemy-tutorial/tutorial-0.1.html)
- [How to fix common pitfalls with the Python ORM tool SQLAlchemy](https://opensource.com/article/19/9/common-pitfalls-python)
- [The Complete Guide of SQL For Data Scientists
](https://towardsdatascience.com/the-complete-guide-of-sql-for-data-scientists-902aaced94e4)
- [SQLAlchemy tutorial](http://zetcode.com/db/sqlalchemy/)

## Introduction to Databases

The pandas workflow works well when:
- the **data fits in memory** (a few gigabytes but not terabytes)
- the **data is relatively static** (doesn't need to be loaded into memory every minute because the data has changed)
- only a **single person is accessing** the data (shared access to memory is difficult)
- **security isn't important** (security is critical for company scale production situations)

In this situation a **database is a much better solution**.

### What is a database?

A database is a data representation that lives on disk that can be queried, accessed, and updated without using much memory.

We primarily interact with a database using a **database management system** or **DBMS** for short.

A database management system (DBMS) is system software for creating and managing databases. A DBMS makes it possible for end users to create, protect, read, update and delete data in a database. The most prevalent type of data management platform, the DBMS essentially serves as an interface between databases and users or application programs, ensuring that data is consistently organized and remains easily accessible.

<img src="./images/dbms.png">

In a business setting, a lot of data may not be stored in text or Excel files. **SQL-based relational databases (such as SQL Server, PostgreSQL, and MySQL) are in wide use**, and many alternative databases have become quite popular. 

The choice of database is usually dependent on the:
- performance, 
- data integrity, and 
- scalability needs of an application.

In the pandas workflow, we spend most of our time thinking about what functions and methods to use, where to store intermediate results in variables, and juggling all of these. To work with data stored in a database, we instead use a language called **SQL (or structured query language)**. In SQL, we express each unique request (whether it be fetching a subset of or editing values in the data) as a single query and then ask the DBMS to run the query and display any results.

For example, to fetch a specific subset of the data from a database, we would:
- write the SQL query: `SELECT * FROM salaries`
- ask the DBMS to run the query and display the results to us

Here's what the database workflow looks like:

<img src="./images/database_workflow.svg">

Because the **data lives on disk**, we can work with datasets that consume multiple terabytes of disk space. Many data science teams in industry have **servers and setups in cloud environments** like Microsoft Azure or Amazon Web Services that let team members work with this scale of data. 

Robust and popular DBMS tools like Postgres and MySQL include powerful features for:
- managing user credentials, 
- security, and 
- high data throughput (quickly changing data).

## SQLite

https://www.sqlite.org/index.html

SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine.

SQLite is the most popular database in the world and is lightweight enough that the SQLite DBMS is included as a module in Python.

### SQLite vs Other SQL databases (PostgreSQL, MySQL, SQL Server)

- **Database Model**
    - SQLite is an Embedded DBMS. This means that it is a Serverless DBMS with the ability to run within your applications. 
    - Other SQL databases implement a Client-Server Model and requires a Database Server to set up and run over a network.-
- **Setup Size**
    - SQLite has a smaller size of less than 500KB.
    - Other SQL databases are much larger in size. Its setup files are more than 200MB in size. 
- **Supported Data Types**
    - SQLite only supports 5 data types i.e. NULL, BLOB, INTEGER, TEXT, and REAL. 
    - Other SQL databases have the ability to store nearly any type of data that you may need to store in your database.
- **Portability**
    - SQLite stores its database in one ordinary disk file in any location within the directory. This makes SQLite one of the most portable Relational Database Management Systems (RDBMS). 
    - Other SQL databases only become portable when you export the database into a file and then upload it to a Server. This can be a tedious task sometimes. 
- **Multiple Access**
    - SQLite doesn’t perform well when it comes to user management. It also lacks the ability to handle simultaneous access by multiple users. 
    - Other SQL databases perform very well in managing users. It also has the capacity to support simultaneous access by multiple users.
- **Functionality**
    - SQLite is a simple DBMS, hence, it comes with basic features that are suitable to users of all types.
    - Other SQL databases are a complex DBMS that comes with a wide variety of features.
- **Speed**
    - SQLite is fast, which can be attributed to the fact that it is a lightweight DBMS with simple operations and minimal design. 
    - Other SQL databases may not be a suitable DBMS for [running fast read queries](https://stackoverflow.com/questions/29452110/sqlite-faster-than-mysql).
- **Security Features**
    - SQLite doesn’t come with an Authentication System. 
    - Other SQL databases come with many security features.

### Commands

- [Command Line Shell For SQLite](https://sqlite.org/cli.html)

Commands in SQLite are called **SQLite dot commands** and exception with these commands is that they **should not be terminated by a semi-colon (;).**

Let's start with typing a simple sqlite3 command at command prompt which will provide you with SQLite command prompt where you will issue various SQLite commands.
- `cd data`
- `sqlite3 logs.db`

- For a **listing of the available dot commands**, you can enter `.help` any time. 
    - `sqlite>.help`

- Run `.show` command to see **default setting** for your SQLite command prompt
    - `sqlite>.show`

- To specify that we want to **return the first 5 rows from weblog**, we need to run the following SQL query:
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

- You can use the following sequence of dot commands to **format your output**.
    - `sqlite>.header on`
    - `sqlite>.mode column`
    - `sqlite>.timer on`
    - `sqlite> SELECT * FROM weblog LIMIT 5;`

The sqlite3 program provides several convenience commands that are useful for looking at the schema of the database. There is nothing that these commands do that cannot be done by some other means. These commands are provided purely as a shortcut.

- To see a **list of the tables in the database**, you can enter `.tables`.
    - `sqlite>.tables`

- The `.schema` command shows the **complete schema for the database**, or for a single table if an optional tablename argument is provided:
    - `sqlite>.schema`
    - `sqlite>.schema weblog`

## Introduction to SQL

A **database usually consists of multiple, related tables of data**. Each table contains rows and columns, just like a CSV file.

<img src="./images/sql_table.svg">

- To specify that we want to **return the first 5 rows from weblog**, we need to run the following SQL query:
    - `SELECT * FROM weblog LIMIT 5;`

In this query, we specified:
- the columns we wanted using `SELECT *`
- the table we wanted to query using `FROM recent_grads`
- the number of rows we wanted using `LIMIT 5`

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the first 15 rows from weblog.
</div>

```SQL
SELECT * FROM weblog LIMIT 15;
```

- While in the SELECT part of the query, we express the specific column we want, in the WHERE part we **express the specific rows we want**.

```SQL
SELECT ip,timestamp FROM weblog
WHERE status = 200
LIMIT 5;
```

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the logs where the ip is 10.131.2.1. Only return the ip and timestamp columns (in that order) and don't limit the number of rows returned.
</div>

```SQL
SELECT ip,timestamp FROM weblog
WHERE ip = "10.131.2.1";
```

<div class="alert alert-block alert-info">
<b>Vaja: </b> Count the number of rows returned from the previous query. <a href="https://www.w3schools.com/sql/sql_count_avg_sum.asp">Help</a>
</div>

```SQL
SELECT COUNT(ip) FROM weblog
WHERE ip = "10.131.2.1";
```

Here are the comparison operators we can use:
- Less than: `<`
- Less than or equal to: `<=`
- Greater than: `>`
- Greater than or equal to: `>=`
- Equal to: `=`
- Not equal to: `!=`

**Most database systems require that the `SELECT` and `FROM` statements come first, before `WHERE` or any other statements.**

- We can use the **AND operator to combine multiple filter criteria**.

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" AND timestamp < "2017-11-29 13:47:00";
```

- If we wanted to specify a filter that meets **either of the conditions instead**, we would use the **OR operator**.

```SQL
SELECT * FROM weblog
WHERE ip = "10.131.2.1" OR status = 304;
```

- We can enclose the logic we want to be evaluated together in **parentheses**. This is very similar to how we group mathematical calculations together in a particular order. The parentheses make it explictly clear to the database that we want all of the rows where both of the expressions in the statements evaluate to True:

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST");
```

- We can **specify the order** using the `ORDER BY` clause. If we instead want the results ordered by the same column but in descending order, we can add the `DESC` keyword.

```SQL
SELECT * FROM weblog
WHERE (ip = "10.131.2.1" AND status = 304) OR (method = "POST")
ORDER BY timestamp DESC;
```

## Work with the SQLite database using raw Python

- [sqlite3 Python module](https://docs.python.org/3/library/sqlite3.html): The sqlite3 module provides an SQL interface compliant with the DB-API 2.0 specification described by PEP 249, and requires SQLite 3.7.15 or newer.

Import a CSV file data to a SQL database:

> If you pass the file name as `:memory:` to the connect() function of the sqlite3 module, it will create a new database that resides in the memory (RAM) instead of a database file on disk.

In [19]:
import csv
import sqlite3
from datetime import datetime
from pathlib import Path
from sqlite3 import OperationalError

weblogs_db = Path.cwd().parent / "data" / "my-weblogs.db"

# create a connection to a databse
con = sqlite3.connect(weblogs_db)

# create a new table
create_table_query = """
    CREATE TABLE logs (
            id INTEGER PRIMARY KEY,
            ip VARCHAR(16),
            timestamp DATETIME,
            status INTEGER,
            method VARCHAR(20)
    );"""

try:
    con.execute(create_table_query)
    con.commit()
except OperationalError as err:
    print(f"Skippig: {err}")

Skippig: table logs already exists

In [20]:
weblogs_csv = Path.cwd().parent / "data" / "weblogs_clean.csv"

# Then, insert rows of data:
with weblogs_csv.open() as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=",")
    line_count = 0
    stmt = "INSERT INTO logs VALUES(NULL, ?, ?, ?, ?)"
    for row in csv_reader:
        if line_count == 0:
            print(f"Column names are {', '.join(row)}")
            line_count += 1
        else:
            con.execute(stmt, row)
            con.commit()
    print("DONE.")

Column names are IP, Time, Staus, Method
DONE.

In [21]:
# Close the connection.
con.close()

Check the data in the new database.

**SQLite Python: Querying Data**

Most Python SQL drivers return a list of tuples when selecting data from a table:

In [22]:
con = sqlite3.connect(weblogs_db)
cursor = con.execute("SELECT * FROM logs LIMIT 5;")
rows = cursor.fetchall()
print(rows)
con.close()

[(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03', 200, 'GET'), (4, '10.131.2.1', '2017-11-29 06:59:04', 200, 'GET'), (5, '10.130.2.1', '2017-11-29 06:59:06', 200, 'GET')]

To make it easier to work with large results sets, the Cursor class allows us to control the number of results we want to retrieve at any given time. 
- To **return a single result** (as a tuple), we use the Cursor method `fetchone()`. 
- To **return n results**, we use the Cursor method `fetchmany(n)`.

Each Cursor instance contains an internal counter that updates every time we retrieve results. When we call the fetchone() method, the Cursor instance will return a single result, and then increment its internal counter by 1. This means that if we call fetchone() again, the Cursor instance will actually return the second tuple in the results set (and increment by 1 again).

Kako bi se povezali v druge vrste podatkovnih baz?

- PostgreSQL:
    - `psycopg2`: [Psycopg](https://pypi.org/project/psycopg2/) is the most popular PostgreSQL database adapter for the Python programming language.
- Microsoft SQL Server:
    - `pyodbc`: [pyodbc](https://pypi.org/project/pyodbc/) is an open source Python module that makes accessing ODBC databases simple. It implements the DB API 2.0 specification but is packed with even more Pythonic convenience.
- MySQL:
    - `PyMySQL`: [PyMySQL](https://pypi.org/project/PyMySQL/) package contains a pure-Python MySQL client library, based on PEP 249.

## SQLAlchemy

- https://www.sqlalchemy.org/
- [ORM Quick Start](https://docs.sqlalchemy.org/en/14/orm/quickstart.html)
- [SQLAlchemy 1.4 / 2.0 Tutorial](https://docs.sqlalchemy.org/en/14/tutorial/index.html)

SQLAlchemy is the **Python SQL toolkit** and **Object Relational Mapper** that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

SQLAlchemy is presented as **two distinct APIs**, one building on top of the other. These APIs are known as **Core** and **ORM**.

- **SQLAlchemy Core** is the foundational architecture for SQLAlchemy as a “database toolkit”. The library provides tools for managing connectivity to a database, interacting with database queries and results, and programmatic construction of SQL statements.
- **SQLAlchemy ORM** builds upon the Core to provide optional object relational mapping capabilities. The ORM provides an additional configuration layer allowing user-defined Python classes to be mapped to database tables and other constructs, as well as an object persistence mechanism known as the Session.

Quick check to verify that we are on version 1.4 of SQLAlchemy:

In [23]:
import sqlalchemy

sqlalchemy.__version__

'2.0.40'

### Establishing Connectivity - the Engine

**The start of any SQLAlchemy application is an object called the Engine.** This object acts as a central source of connections to a particular database, providing both a factory as well as a holding space called a connection pool for these database connections.
- The engine is typically a global object **created just once for a particular database server**.
- Configured using a **URL string** which will describe how it should connect to the database host or backend.

The Engine is created by using `create_engine()`, specifying the `create_engine.future` flag set to True so that we make full use of 2.0 style usage:

In [24]:
str(weblogs_db)

'c:\\Users\\kikir\\Desktop\\IKT_python_analitika\\python-data-analytics\\data\\my-weblogs.db'

In [25]:
from sqlalchemy import create_engine

# We have also specified a parameter create_engine.echo, which will instruct the Engine to log all
# of the SQL it emits to a Python logger that will write to standard out
engine = create_engine(f"sqlite+pysqlite:///{weblogs_db}", echo=True, future=True)

The main argument to `create_engine` is a string URL: `dialect+driver://username:password@host:port/database`

In [ ]:
# dialect+driver://username:password@host:port/database"
f"sqlite+pysqlite:///{weblogs_db}"
# sqlite = dialect
# pysqlite = driver
# ker je sqlite, ni  potrebno imeti username, password, host, port
# ker ni ostalega se doda samo ///
# doda se samo se path do baze {weblogs_db}
# echo=True = log all of the SQL it emits to a Python logger that will write to standard out
# future=True = use the 2.0 style of API

1. **What kind of database are we communicating with?** 
    - Links in SQLAlchemy to an object known as the **dialect**.
    - [Engine Configuration](https://docs.sqlalchemy.org/en/14/core/engines.html)
    - [Dialects](https://docs.sqlalchemy.org/en/14/dialects/index.html)
    - Included Dialects: PostgreSQL, MySQL and MariaDB, SQLite, Oracle, Microsoft SQL Server
2. **What DBAPI are we using?** 
    - The Python DBAPI is a third party driver that SQLAlchemy uses to interact with a particular database. 
    - In this case, we’re using the name pysqlite, which in modern Python use is the sqlite3 standard library interface for SQLite. 
    - If omitted, SQLAlchemy will use a default DBAPI for the particular database selected.
    - All dialects require that an appropriate DBAPI driver is installed.
        - Support for the MySQL database via the PyMySQL driver: `pip install PyMySQL`
        - Support for the PostgreSQL database via the psycopg2 driver: `pip install psycopg2`
3. **How do we locate the database?** 
    - URLs typically include username, password, hostname, database name fields, as well as optional keyword arguments for additional configuration.

> The Engine, when first returned by create_engine(), has not actually tried to connect to the database yet; that happens only the first time it is asked to perform a task against the database. This is a software design pattern known as lazy initialization.

**Database Urls Examples**

<p>The <a class="reference internal" href="#sqlalchemy.create_engine" title="sqlalchemy.create_engine"><code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code></a> function produces an <a class="reference internal" href="connections.html#sqlalchemy.engine.Engine" title="sqlalchemy.engine.Engine"><code class="xref py py-class docutils literal notranslate"><span class="pre">Engine</span></code></a> object based
on a URL.  These URLs follow <a class="reference external" href="http://rfc.net/rfc1738.html">RFC-1738</a>, and usually can include username, password,
hostname, database name as well as optional keyword arguments for additional configuration.
In some cases a file path is accepted, and in others a “data source name” replaces
the “host” and “database” portions.  The typical form of a database URL is:</p>

`dialect+driver://username:password@host:port/database`

PostgreSQL:

In [ ]:
# psycopg2 driver
engine = create_engine("postgresql+psycopg2://scott:tiger@localhost/mydatabase", echo=True, future=True)

MySQL:

In [ ]:
# PyMySQL driver
engine = create_engine("mysql+pymysql://scott:tiger@localhost/foo", echo=True, future=True)

SQLite:

In [ ]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine("sqlite:///data/foo.db", echo=True, future=True)
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)
# memory = in memory database, not saved to disk

SQLite connects to file-based databases, using the Python built-in module sqlite3 by default.

As SQLite connects to local files, the URL format is slightly different. The “file” portion of the URL is the filename of the database. For a relative file path, this requires three slashes:

### Working with Transactions and the DBAPI

The [`text()`](https://docs.sqlalchemy.org/en/14/core/sqlelement.html#sqlalchemy.sql.expression.text) construct **allows us to write SQL statements as textual SQL**. Rest assured that textual SQL in day-to-day SQLAlchemy use is by far the exception rather than the rule for most tasks, even though it always remains fully available.

In [26]:
from sqlalchemy import text

print(text("SELECT * FROM 'logs' LIMIT 2;"))

SELECT * FROM 'logs' LIMIT 2;

The sole purpose of the Engine object from a user-facing perspective is to provide a unit of connectivity to the database called the **Connection**.  
- When working with the **Core directly**, the **Connection object is how all interaction with the database is done**.

In [30]:
from sqlalchemy import create_engine

engine = create_engine(f"sqlite+pysqlite:///{weblogs_db}", echo=False, future=True)

with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM logs LIMIT 2;"))
    print(type(result))
    print(result.all())

<class 'sqlalchemy.engine.cursor.CursorResult'>
[(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST')]

The **transaction is not committed automatically**; when we want to commit data we normally need to call `Connection.commit()`.

In [31]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE IF NOT EXISTS some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()

As we want the work we’ve done to be committed within our block, we invoke the `Connection.commit()` method which commits the transaction.

The `Connection.execute()` method therefore also **accepts parameters**, which are referred towards as bound parameters.

> However, when using textual SQL, a Python literal value, even non-strings like integers or dates, should never be stringified into SQL string directly; a parameter should always be used. This is most famously known as how to **avoid SQL injection attacks when the data is untrusted**.

There is also another style of committing data, which is that we can declare our “connect” block to be a transaction block up front.

For this mode of operation, we use the `Engine.begin()` method to acquire the connection. This method will both manage the scope of the Connection and also enclose everything inside of a transaction with COMMIT at the end, assuming a successful block, or ROLLBACK in case of exception raise.

In [32]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

**“Begin once” style is often preferred** as it is more succinct and indicates the intention of the entire block up front.

**Fetching Rows**

In [33]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    for row in result:
        print(f"IP: {row.ip}  Medhod: {row.method}")

IP: 10.128.2.1  Medhod: GET
IP: 10.128.2.1  Medhod: POST
IP: 10.128.2.1  Medhod: GET
IP: 10.131.2.1  Medhod: GET
IP: 10.130.2.1  Medhod: GET

The object returned is called Result and represents an **iterable object of result rows**. The Row objects themselves are intended to act like Python **named tuples**.

Result has lots of methods for fetching and transforming rows.

In [35]:
with engine.connect() as con:
    rs = con.execute(text("SELECT * FROM logs LIMIT 5;"))
    data = rs.fetchone()
    print(data)

(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET')

In [36]:
with engine.connect() as conn:
    rs = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    data1 = rs.fetchone()
    data2 = rs.fetchone()
    print(data1)
    print(data2)

(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET')
(2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST')

In [37]:
with engine.connect() as conn:
    rs = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    data = rs.fetchmany(3)
    print(data)

[(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03', 200, 'GET')]

In [38]:
with engine.connect() as conn:
    rs = conn.execute(text("SELECT * FROM logs LIMIT 5;"))
    data = rs.fetchall()
    print(data)

[(1, '10.128.2.1', '2017-11-29 06:58:55', 200, 'GET'), (2, '10.128.2.1', '2017-11-29 06:59:02', 302, 'POST'), (3, '10.128.2.1', '2017-11-29 06:59:03', 200, 'GET'), (4, '10.131.2.1', '2017-11-29 06:59:04', 200, 'GET'), (5, '10.130.2.1', '2017-11-29 06:59:06', 200, 'GET')]

### Working with Database Metadata

The central element of both SQLAlchemy Core and ORM is the **SQL Expression Language** which allows for fluent, composable construction of SQL queries. 
- The foundation for these queries are Python objects that represent database concepts like tables and columns -> **database metadata**.

The most common foundational objects for database metadata in SQLAlchemy are known as `MetaData`, `Table`, and `Column`.

To start using the SQLAlchemy Expression Language, we will want to have Table objects constructed that represent all of the database tables we are interested in working with.

In [39]:
from sqlalchemy import MetaData

metadata_obj = MetaData()

Having a **single MetaData object for an entire application is the most common case**, represented as a module-level variable in a single place in an application.

Once we have a MetaData object, we can declare some Table objects.

In [40]:
from sqlalchemy import Column, Integer, String, Table

user_table = Table(
    "user_account",
    metadata_obj,
    Column("id", Integer, primary_key=True),
    Column("name", String(30), nullable=False),
    Column("fullname", String, nullable=False),
)

In [41]:
user_table.c.name

Column('name', String(length=30), table=<user_account>, nullable=False)

In [42]:
user_table.c.keys()

['id', 'name', 'fullname']

The first useful thing we can do with this structure will be to emit CREATE TABLE statements, or DDL, to our SQLite database so that we can insert and query data from them. We have already all the tools needed to do so, by invoking the MetaData.create_all() method on our MetaData, sending it the Engine that refers to the target database:

In [43]:
from pathlib import Path

user_db = Path.cwd().parent / "data" / "users.db"

engine = create_engine(f"sqlite+pysqlite:///{user_db}", echo=True, future=True)
metadata_obj.create_all(engine)

2025-05-07 17:03:04,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-07 17:03:04,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2025-05-07 17:03:04,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-07 17:03:04,234 INFO sqlalchemy.engine.Engine COMMIT

### Working with Data

A simple example of Insert illustrating the target table and the VALUES clause at once:

In [44]:
from sqlalchemy import insert

stmt1 = insert(user_table).values(name="matic", fullname="matic lalalala")
stmt2 = insert(user_table).values(name="jaka", fullname="jaka tatatatat")

In [45]:
with engine.connect() as conn:
    conn.execute(stmt1)
    conn.execute(stmt2)
    conn.commit()

2025-05-07 17:03:11,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-07 17:03:11,071 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2025-05-07 17:03:11,072 INFO sqlalchemy.engine.Engine [generated in 0.00171s] ('matic', 'matic lalalala')
2025-05-07 17:03:11,074 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?)
2025-05-07 17:03:11,075 INFO sqlalchemy.engine.Engine [cached since 0.005197s ago] ('jaka', 'jaka tatatatat')
2025-05-07 17:03:11,076 INFO sqlalchemy.engine.Engine COMMIT

The select() construct builds up a statement in the same way as that of insert(), using a generative approach where each method builds more state onto the object. Like the other SQL constructs, it can be stringified in place:

In [46]:
from sqlalchemy import select

In [47]:
stmt = select(user_table).where(user_table.c.name == "matic")
print(stmt)

SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = :name_1

In [48]:
with engine.connect() as conn:
    for row in conn.execute(stmt):
        print(row)

2025-05-07 17:03:20,698 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-07 17:03:20,700 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2025-05-07 17:03:20,701 INFO sqlalchemy.engine.Engine [generated in 0.00257s] ('matic',)
(1, 'matic', 'matic lalalala')
(3, 'matic', 'matic lalalala')
2025-05-07 17:03:20,703 INFO sqlalchemy.engine.Engine ROLLBACK

## Working with databases and Pandas

- [SQL queries](https://pandas.pydata.org/docs/user_guide/io.html#sql-queries)

The `pandas.io.sql` module provides a **collection of query wrappers to both facilitate data retrieval** and to reduce dependency on DB-specific API. 
- Database abstraction is provided by **SQLAlchemy** if installed. 
- In addition you will need a **driver library for your database**. 
    - Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. 
    - For SQLite this is included in Python’s standard library by default.

<table border="1" class="longtable docutils">
<colgroup>
<col width="10%">
<col width="90%">
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql_table.html#pandas.read_sql_table" title="pandas.read_sql_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_table</span></code></a>(table_name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Read SQL database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.read_sql_query.html#pandas.read_sql_query" title="pandas.read_sql_query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_query</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query into a DataFrame.</td>
</tr>
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql.html#pandas.read_sql" title="pandas.read_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query or database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">DataFrame.to_sql</span></code></a>(self,&nbsp;name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Write records stored in a DataFrame to a SQL database.</td>
</tr>
</tbody>
</table>

> The function `read_sql()` is a convenience wrapper around `read_sql_table()` and `read_sql_query()` (and for backward compatibility) and will delegate to specific function depending on the provided input (database table name or sql query). Table names do not need to be quoted if they have special characters.

To connect with SQLAlchemy you use the `create_engine()` function to create an engine object from database URI. You only need to create the engine once per database you are connecting to.

In [59]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:")

> You can use a temporary SQLite database where data are stored in “memory”.

### Writing a DataFrame to a SQL database

In [61]:
import datetime

c = ["id", "Date", "Col_1", "Col_2", "Col_3"]

d = [
    (26, datetime.datetime(2010, 10, 18), "X", 27.5, True),
    (42, datetime.datetime(2010, 10, 19), "Y", -12.5, False),
    (63, datetime.datetime(2010, 10, 20), "Z", 5.73, True),
]


data = pd.DataFrame(d, columns=c)

data

   id       Date Col_1  Col_2  Col_3
0  26 2010-10-18     X  27.50   True
1  42 2010-10-19     Y -12.50  False
2  63 2010-10-20     Z   5.73   True

In [62]:
data.to_sql("data", engine)

3

With some databases, **writing large DataFrames can result in errors** due to packet size limitations being exceeded. This can be avoided by setting the `chunksize` parameter when calling `to_sql`. For example, the following writes data to the database in batches of 1000 rows at a time:

In [63]:
data.to_sql("data_chunked", engine, chunksize=1000)

3

Getting a list of tables:

In [64]:
from sqlalchemy import inspect

inspector = inspect(engine)
print(inspector.get_table_names())

['data', 'data_chunked']

### SQL data types

`to_sql()` will **try to map your data to an appropriate SQL data type** based on the dtype of the data. When you have columns of **dtype object, pandas will try to infer the data type**.

You can always override the default type by specifying the desired SQL type of any of the columns by using the dtype argument. This argument needs a dictionary mapping column names to SQLAlchemy types. For example, specifying to use the sqlalchemy String type instead of the default Text type for string columns:

In [65]:
from sqlalchemy.types import String

data.to_sql("data_dtype", engine, dtype={"Col_1": String})

3

Using SQLAlchemy, `to_sql()` **is capable of writing datetime data that is timezone naive or timezone aware**. However, the resulting data stored in the database ultimately depends on the supported data type for datetime data of the database system being used.

**if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’**

How to behave if the table already exists.
- fail: Raise a ValueError.
- replace: Drop the table before inserting new values.
- append: Insert new values to the existing table.

In [66]:
# generate error
data.to_sql("data", engine, if_exists="fail")

ValueError: Table 'data' already exists.

In [ ]:
# doda shemo prejšni shemi, vendar mora imeti isto obliko
data.to_sql("data", engine, if_exists="append")

3

In [68]:
# replace the table with the new data
data.to_sql("data", engine, if_exists="replace")

3

### Importing data from a SQL database table

- [read_sql_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table)

`read_sql_table()` will read a database table given the table name and optionally a subset of columns to read.

In [69]:
data = pd.read_sql_table("data", engine)

In [70]:
data

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [71]:
data.dtypes

index             int64
id                int64
Date     datetime64[ns]
Col_1            object
Col_2           float64
Col_3              bool
dtype: object

> Note that pandas infers column dtypes from query outputs, and not by looking up data types in the physical database schema.

You can also specify the name of the column as the DataFrame index, and specify a subset of columns to be read.

In [72]:
pd.read_sql_table("data", engine, index_col="id")

    index       Date Col_1  Col_2  Col_3
id
26      0 2010-10-18     X  27.50   True
42      1 2010-10-19     Y -12.50  False
63      2 2010-10-20     Z   5.73   True

And you can explicitly force columns to be parsed as dates:

In [73]:
pd.read_sql_table("data", engine, parse_dates=["Date"])

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

### Querying a SQL database

You can **query using raw SQL** in the `read_sql_query()` function. 
- In this case you must use the SQL variant appropriate for your database. 
- When using SQLAlchemy, you can also pass SQLAlchemy Expression language constructs, which are database-agnostic.

In [ ]:
# SELECT * pomeni izberi vse
pd.read_sql_query("SELECT * FROM data", engine)

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X  27.50      1
1      1  42  2010-10-19 00:00:00.000000     Y -12.50      0
2      2  63  2010-10-20 00:00:00.000000     Z   5.73      1

In [ ]:
# SELECT id, Col_1, Col_2 pomeni izberi samo te tri stolpce
pd.read_sql_query("SELECT id, Col_1, Col_2 FROM data WHERE id = 42;", engine)

   id Col_1  Col_2
0  42     Y  -12.5

The `read_sql_query()` function supports a chunksize argument. Specifying this will return an iterator through chunks of the query result:

In [76]:
df = pd.DataFrame(np.random.randn(20, 3), columns=list("abc"))
df.head()

          a         b         c
0  0.837649 -1.252647  0.227394
1 -1.010078  1.065879  0.534694
2 -0.079829 -1.522122 -1.107063
3  1.038695  0.123707 -1.343999
4 -0.807250 -0.286738  0.266456

In [77]:
df.to_sql("data_chunks", engine, index=False)

20

In [78]:
for chunk in pd.read_sql_query("SELECT * FROM data_chunks", engine, chunksize=5):
    print(chunk)

          a         b         c
0  0.837649 -1.252647  0.227394
1 -1.010078  1.065879  0.534694
2 -0.079829 -1.522122 -1.107063
3  1.038695  0.123707 -1.343999
4 -0.807250 -0.286738  0.266456
          a         b         c
0  1.099783 -2.334689 -0.877620
1 -0.053820 -0.309434  0.511145
2 -0.324134 -1.044538  0.251304
3  0.571744  1.299693 -0.041773
4  0.552870 -1.580872 -0.229574
          a         b         c
0  1.011695 -0.393986  0.916764
1 -0.522461  0.098807 -0.755295
2  0.777289 -0.305637  0.490295
3  0.875291  0.461817  0.659025
4 -1.715917 -0.067992 -2.536058
          a         b         c
0  0.521674 -0.113543  0.342155
1 -1.319976  0.785039  1.651019
2 -1.125450  0.118955  0.586711
3 -0.037937 -0.105177 -0.670628
4 -0.829235  0.583658  1.459649

Use `sqlalchemy.text()` to specify query parameters in a **backend-neutral way.**

In [ ]:
import sqlalchemy

# sqlalchemy poskrbi da bo python znal prebrati kaj je v bazi
pd.read_sql_query(sqlalchemy.text("SELECT * FROM data where Col_1=:col1"), engine, params={"col1": "X"})

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X   27.5      1

If you have an SQLAlchemy description of your database you can express where conditions using SQLAlchemy expressions.

In [80]:
from sqlalchemy import Column, MetaData, Table

metadata = MetaData()

data_table = Table(
    "data",
    metadata,
    Column("index", sqlalchemy.Integer),
    Column("Date", sqlalchemy.DateTime),
    Column("Col_1", sqlalchemy.String),
    Column("Col_2", sqlalchemy.Float),
    Column("Col_3", sqlalchemy.Boolean),
)

In [81]:
pd.read_sql_query(sqlalchemy.select(data_table).where(data_table.c.Col_1 == "X"), engine)

   index       Date Col_1  Col_2  Col_3
0      0 2010-10-18     X   27.5   True

## Example: Data import from CSV to SQLite database

In [82]:
weblog_df = pd.read_csv(weblogs_csv)

In [83]:
weblog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   IP      500 non-null    object
 1   Time    500 non-null    object
 2   Staus   500 non-null    int64
 3   Method  500 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.8+ KB

In [84]:
weblog_df.head()

           IP                  Time  Staus Method
0  10.128.2.1  29/Nov/2017:06:58:55    200    GET
1  10.128.2.1  29/Nov/2017:06:59:02    302   POST
2  10.128.2.1  29/Nov/2017:06:59:03    200    GET
3  10.131.2.1  29/Nov/2017:06:59:04    200    GET
4  10.130.2.1  29/Nov/2017:06:59:06    200    GET

[Pretvorbe](https://www.programiz.com/python-programming/datetime/strftime)

In [85]:
weblog_df["Time"] = pd.to_datetime(weblog_df["Time"], format="%d/%b/%Y:%H:%M:%S")

In [86]:
weblog_df.head()

           IP                Time  Staus Method
0  10.128.2.1 2017-11-29 06:58:55    200    GET
1  10.128.2.1 2017-11-29 06:59:02    302   POST
2  10.128.2.1 2017-11-29 06:59:03    200    GET
3  10.131.2.1 2017-11-29 06:59:04    200    GET
4  10.130.2.1 2017-11-29 06:59:06    200    GET

In [87]:
weblog_df.rename(columns={"IP": "ip", "Time": "timestamp", "Staus": "status", "Method": "method"}, inplace=True)

In [88]:
# dodamo HTTP_Ok če je Status enak 200
weblog_df["http_ok"] = weblog_df["status"] == 200

In [89]:
weblog_df.head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:02     302   POST    False
2  10.128.2.1 2017-11-29 06:59:03     200    GET     True
3  10.131.2.1 2017-11-29 06:59:04     200    GET     True
4  10.130.2.1 2017-11-29 06:59:06     200    GET     True

In [90]:
from sqlalchemy import Boolean, DateTime, Integer, String, create_engine

In [91]:
weblogs_db = Path.cwd().parent / "data" / "web_logs.db"
engine = create_engine(f"sqlite:///{weblogs_db}", echo=False)

In [92]:
dtype_dict = {"ip": String(15), "timestamp": DateTime(), "status": Integer(), "method": String(10), "http_ok": Boolean()}

In [93]:
weblog_df.to_sql(name="weblog", con=engine, if_exists="append", index=False, chunksize=100, dtype=dtype_dict)

500

In [94]:
weblog = pd.read_sql_table("weblog", engine)

In [95]:
weblog.head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:02     302   POST    False
2  10.128.2.1 2017-11-29 06:59:03     200    GET     True
3  10.131.2.1 2017-11-29 06:59:04     200    GET     True
4  10.130.2.1 2017-11-29 06:59:06     200    GET     True

In [97]:
weblog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ip         1000 non-null   object
 1   timestamp  1000 non-null   datetime64[ns]
 2   status     1000 non-null   int64
 3   method     1000 non-null   object
 4   http_ok    1000 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(2)
memory usage: 32.4+ KB

In [96]:
pd.read_sql_table("weblog", engine, columns=["ip", "timestamp", "method"]).head()

           ip           timestamp method
0  10.128.2.1 2017-11-29 06:58:55    GET
1  10.128.2.1 2017-11-29 06:59:02   POST
2  10.128.2.1 2017-11-29 06:59:03    GET
3  10.131.2.1 2017-11-29 06:59:04    GET
4  10.130.2.1 2017-11-29 06:59:06    GET

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns a df with all columns for ip = '10.128.2.1' using method GET. Use sqlalchemy.text() to specify query parameters in a backend-neutral way.
</div>

In [98]:
pd.read_sql_query(sqlalchemy.text("SELECT * FROM weblog WHERE ip=:ip_val AND method=:method_val;"), engine, params={"ip_val": "10.128.2.1", "method_val": "GET"}).head(5)

           ip                   timestamp  status method  http_ok
0  10.128.2.1  2017-11-29 06:58:55.000000     200    GET        1
1  10.128.2.1  2017-11-29 06:59:03.000000     200    GET        1
2  10.128.2.1  2017-11-29 06:59:19.000000     200    GET        1
3  10.128.2.1  2017-11-29 13:38:20.000000     200    GET        1
4  10.128.2.1  2017-11-29 13:38:20.000000     200    GET        1

Using SQLAlchemy expressions:

In [99]:
metadata = MetaData()

weblog_table = Table(
    "weblog",
    metadata,
    Column("ip", sqlalchemy.String),
    Column("timestamp", sqlalchemy.DateTime),
    Column("status", sqlalchemy.Integer),
    Column("method", sqlalchemy.String),
    Column("http_ok", sqlalchemy.Boolean),
)

In [100]:
pd.read_sql_query(sqlalchemy.select(weblog_table).where((weblog_table.c.ip == "10.128.2.1") & (weblog_table.c.method == "GET")), engine).head()

           ip           timestamp  status method  http_ok
0  10.128.2.1 2017-11-29 06:58:55     200    GET     True
1  10.128.2.1 2017-11-29 06:59:03     200    GET     True
2  10.128.2.1 2017-11-29 06:59:19     200    GET     True
3  10.128.2.1 2017-11-29 13:38:20     200    GET     True
4  10.128.2.1 2017-11-29 13:38:20     200    GET     True